@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    display: flex;
}

.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
}

.navigation a:hover{
    color: #601cfc;
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(image/IMG1.png) no-repeat;
    /* background-size: cover; */
    background-position: right bottom;
    /* background-attachment: fixed; */
    background-color: rgb(16, 15, 23);
}

.main h2{
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    color: #4e9eff;
    display: inline-block;
    margin-top: 10px;
    font-size: 3em;
    font-weight: 600;
}

.main h3{
    color:#ffff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn{
    color: #ffff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover{
    background-color: #0a49f6;
    transform: scale(1.1);
}
.social-icon a{
    color: #ffff;
    font-size: 1.7em;
    padding-right: 30px;
    transition: 0.5s;
}

.social-icon a:hover{
        color: #4e9eff;
    
}

/* about me section */

.about{
    /* width: 100%; */
    /* padding: 100px 0px; */
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(16, 15, 23);
}
.about img{
    min-height: 70vh;
    width: 30vw;
    margin-right: 10px;
}
.about-text{
    width: 50%;   
}

.about-sec{
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.about-text h5{
    color: #4e9eff;
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.about-text p{
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 20px;
}

/*GSG Section*/
.GSG{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(16, 15, 23);
}
.GSG img{
    min-height: 70vh;
    width: 30vw;
    margin-right: 10px;
    align-items: flex-end;
    /* background-size: cover; */
}
.GSG-text{
    width: 50%;   
}

.GSG-sec{
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.GSG-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.GSG-text h5{
    color: #4e9eff;
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.GSG-text p{
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 20px;
}

/* Contact section */
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-direction: column;
    background-color: rgb(16, 15, 23);
    justify-content: center;
    align-items: center;
}

.contact .content{
    /* max-width: 800; */
    text-align: center;
    margin-top: 50px;
}

.contact .content h2{
    font-size: 3em;
    color: #ffff;
    font-weight: 500;
}

.contact .content p{
    font-size: 1.1em;
    color: #ffff;
    font-weight: 300;
}

.contactInfo{
  width: 30vw;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  min-height: 50vh;
  /* background-color: #4e9eff; */
}

.contactBox{
    position: relative;
    padding: 20px 0 ;
    display: flex;
    cursor: pointer;
    /* background-color: #e91e63; */
    width: 100%;
}

.contactBox .contactIcon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
    transition: 0.5s;
}

.contactBox:hover .contactIcon{
    background: #4e9eff;
    color: #fff;
}

.contactBox .contactText{
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    padding-left: 10px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
}

.contactBox .contactText h3{
    font-weight: 500;
    color: #4e9eff;

}
.contactBox .contactText p a{
    text-decoration: none;
    color: #fff;
}
.txtCon{
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
    padding-left: 10px;
    border-left: 50px solid #0a49f6;
    line-height: 1em;
    
}

.sci{
    position: relative;
    /* display: flex; */
    gap: 30px;
    margin: 20px 0;
    padding-left: 60px;
}

.sci li{
    list-style: none;
    font-size: 3em;
}

.sci li a{
    color: #fff;
    transition: 0.5s;
    text-decoration: none;
    /* background-color: #3a6cf4; */
    
    
}
.sci li a span{
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    padding-left: 10px;
    font-size: 0.6em;
    /* background-color: #e91e63; */
}

.sci li a:hover{
    color: #4e9eff;
}
.allCC{
    /* background-color: antiquewhite; */
    margin-top: 50px;
    width: 100%;
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

.sciCC{

    /* display: flex; */
    /* background-color: aqua; */
    width: 30vw;
}

.footer{
    background-color: #000016;
    color:#fff;
    padding: 2em;
    display: flex;
    justify-content: center;

}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span{
    color: #3a6cf4;
}
